reservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.atinairlines.com/Reservation"
	xmlns:tns="http://www.atinairlines.com/Reservation">
	
	<!-- Root element reservation -->
	<element name="reservation">
		<complexType>
			<sequence>
				<element name="flight" type="string"/>
				<element name="passenger" type="string"/>
			</sequence>
		</complexType>
	</element>
	

</schema>



