reservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.atinairlines.com/Reservation"
	xmlns:tns="http://www.atinairlines.com/Reservation">
	
	<include schemaLocation="flight.xsd"/>
	<include schemaLocation="passenger.xsd"/>
	<include schemaLocation="common.xsd"/>
	
	<!-- Root element reservation -->
	<element name="reservation">
		<complexType>
			<sequence>
				<element name="flight" type="tns:flight"/>
				<element name="passenger" type="tns:passenger"/>
			</sequence>
		</complexType>
	</element>

</schema>



